@use "./../../../variables" as vars;
.item {
  position: relative;
  border: 2px solid vars.$borderColor;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;

  .item-img {
    width: 40px;
  }

  .item-img:hover + .tooltip {
    display: block;
  }
  .tooltip {
    display: none;
  }
}
.ward {
  grid-column: 4 / 5;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  grid-auto-flow: dense;
  position: relative;
  height: fit-content;
}
