<div class="header">
    <h1 class="homeBtn" (click)="sendHome()">GSB</h1>
    <div class="search-div"> 
      <div class="searches">
        <input type="input" #inputRef (keydown.enter)="getPuuid(inputRef.value , tagLineRef.value)"class="search sum_search" placeholder="Summoner Name" name="name" id='name' required />
        <input type="input" #tagLineRef (keydown.enter)="getPuuid(inputRef.value, tagLineRef.value)"class="search tag_search" placeholder="#NA1" name="name" id='tag' required />
      </div>
    </div>
  </div>