@use "./../../../variables" as vars;
.expanded-card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid vars.$bgColor2;
  border-top: none;
}

.team-card {
  padding-bottom: 10px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  color: white;

  div {
    display: flex;
  }
  p {
    margin-right: 20px;
  }
  img {
    margin-right: 10px;
  }
}

.won {
  color: vars.$winColor;
  padding: 4px;
  border-radius: 2px;
  background-color: vars.$blackBackground;
}
.lost {
  color: vars.$loseColor;
  padding: 4px;
  border-radius: 2px;
  background-color: vars.$blackBackground;
}

.good {
  color: vars.$winColor;
}
.bad {
  color: vars.$loseColor;
}
.amazing {
  color: vars.$amazingColor;
}

.player-card {
  color: white;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  .champion-info {
    position: relative;
    display: inline-block;
    .champ-img {
      margin-top: 10px;
      border-radius: 50%;
      width: 30px;
      object-fit: cover;
      border: 3px solid vars.$profileBorders;
    }
    p {
      position: absolute;
      bottom: 0;
      right: 0;
      color: vars.$profileBorders;
      background-color: vars.$bgColor2;
      border-radius: 50%;
      border: 2px solid vars.$profileBorders;
      margin: 0;
      font-size: 11px;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
    }
    .user-champ-img {
      border: 3px solid vars.$userChampBorder;
    }
  }
  .sum-spells {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      border: 2px solid vars.$blackBorders;
      border-radius: 20%;
      margin: 5px 10px;
      width: 15px;
    }
  }
  .runes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      margin: 0 5px 5px 0;
      width: 15px;
    }
    .rune1 {
      width: 20px;
    }
  }
  .game-name {
    cursor: pointer;
    margin-left: 10px;
    width: 100px;
    .name {
      text-overflow: ellipsis;
      margin: 0;
      color: vars.$profileBorders;
    }
    .name:hover {
      text-decoration: underline;
    }
  }
  .kda-info {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    p {
      margin: 3px;
    }
    .player-kills {
      font-size: 15px;
      font-weight: 550;
    }
    .player-kda {
      font-size: 14px;
    }
  }
  .CS {
    width: 100px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .KP {
    width: 100px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .damage {
    height: auto;
    width: 150px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    .damage-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      .total-damage-bar,
      .physical-bar,
      .magic-bar,
      .true-bar {
        height: 10px;
        border-radius: 5px;
      }
      .total-damage-bar {
        background: vars.$userChampBorder;
      }
      .physical-bar {
        background: rgb(247, 141, 19);
      }
      .magic-bar {
        background: #623cc2;
      }
      .true-bar {
        background: white;
      }
      p {
        margin: 0;
        font-size: 12px;
      }
    }
    .damage-info:hover + .damage-hover {
      display: block;
      opacity: 1;
    }
    .damage-hover {
      position: absolute;
      transform: translate(0%, 40%);
      width: 150px;
      display: none;
      z-index: 1;
    }
  }
  .items {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    grid-auto-flow: dense;
    position: relative;
    height: fit-content;
    .item {
      border: 2px solid vars.$borderColor;
      border-radius: 4px;
      width: 24px;
      height: 24px;
      margin-left: 5px;
      img {
        width: 24px;
      }
    }
    .ward {
      grid-column: 4 / 5;
      grid-row: 1 / span 2;
      justify-self: center;
      align-self: center;
    }
  }
}
