.expanded-card {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px); 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgb(59, 45, 106);
    border-top: none;
}

.team-card {
    padding-bottom: 10px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    color: white;
    p {
        margin-right: 20px;
    }
}

.won {
    color: #3cbdc2;
    padding: 4px;
    border-radius: 2px;
    background-color: rgb(25, 19, 61);
    
}
.lost {
    color: #e54787;
    padding: 4px;
    border-radius: 2px;
    background-color: rgb(25, 19, 61);
}

.good {
    color: rgb(53, 219, 122);
}
.bad {
    color: rgb(245, 80, 80);
}
.amazing {
    color: #85d0ff;
}

.player-card {
    color: white;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .champion-info {
        .champ-img {
            margin-top: 10px;
            border-radius: 50%;
            width: 30px;
            object-fit: cover; 
            border: 3px solid rgb(200,172,110);
        }
    }
    .sum-spells {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            border: 3px solid rgb(45, 31, 52);
            border-radius: 20%;
            margin: 0 10px;
            width: 15px;
        }
    }
    .runes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            margin: 0 5px 5px;
            width: 15px;
        }
        .rune1 {
            width: 20px;
        }
    }
    .game-name {
        width: 100px;
        p {
            text-overflow: ellipsis;
            margin: 0;
            color: rgb(200,172,110);
        }
    }
    .kda-info {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        p {
            margin: 3px;
        }
        .player-kills {
            font-size: 15px;
            font-weight: 550;
        }
        .player-kda {
            font-size: 10px;
        }
    }
    .CS {
        width: 100px;
        font-weight: 550;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    .KP {
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        grid-auto-flow: dense;
        position: relative;
        height: fit-content;
        img {
            border: 2px solid #382f66;
            border-radius: 4px;
            width: 24px;
            margin: 5px 5px 0px
        }
        .ward {
            grid-column: 4 / 5;
            grid-row: 1 / span 2; 
            justify-self: center; 
            align-self: center; 
          }
    }
}