@use "./../../variables" as vars;

.match-details-header {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  h2 {
    margin: 0;
    margin-left: 10px;
    justify-content: center;
    font-size: 30px;
  }
  p {
    font-size: 15px;
    color: vars.$smallTextGray;
    margin: 0; 
    margin-left: 20px;
    justify-content: center;
  }
}

.most-stats {
  display: flex;
  flex-direction: row;
  .most-damage, .most-cs, .most-kda, .most-gold {
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 20px 40px;
    border: 1px solid black;
    border-radius: 10px;
    p, img {
      margin-left: 20px !important;
    }
    .stat-label {
      margin-bottom: 10px;
      color: vars.$smallTextGray;
    }
    .stat {
      margin: 0;
      font-weight: 600;
      font-size: 24px;
    }
    .most-stat-profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      .champ-img {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        object-fit: cover;
        border: 3px solid vars.$profileBorders;
      }
      p {
        font-size: 18px;
        color: vars.$profileBorders;
      }
    }
  }
}