<div class="container">
  <div class="match-details-header">
    <h2>Match Details</h2>
    <p>{{ matchData.gameMode }}</p>
    <p>∙</p>
    <p>{{ matchData.gameLength }} minutes</p>
  </div>
  <div class="most-stats">
    <div class="most-cs" [ngStyle]="{ 'background-image': 'linear-gradient(270deg, rgba(46, 34, 105, 0.5) 0%, rgb(19, 14, 57) 100%), url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + mostCsPlayer.champion + '_0.jpg)' }">
      <p class="stat-label">Highest CS</p>
      <p class="stat">{{ mostCsPlayer.CSscore }}</p>
      <div class="most-stat-profile">
        <img class="champ-img" src='https://ddragon.leagueoflegends.com/cdn/14.24.1/img/champion/{{mostCsPlayer.champion}}.png'>
        <p>{{ mostCsPlayer.gameName }}</p>
      </div>
    </div>
    <div class="most-damage" [ngStyle]="{ 'background-image': 'linear-gradient(270deg, rgba(46, 34, 105, 0.5) 0%, rgb(19, 14, 57) 100%), url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + mostDamagePlayer.champion + '_0.jpg)' }">
      <p class="stat-label">Highest Damage</p>
      <p class="stat">{{ mostDamagePlayer.damageDealt }}</p>
      <div class="most-stat-profile">
        <img class="champ-img" src='https://ddragon.leagueoflegends.com/cdn/14.24.1/img/champion/{{mostDamagePlayer.champion}}.png'>
        <p>{{ mostDamagePlayer.gameName }}</p>
      </div>
    </div>
    <div class="most-gold" [ngStyle]="{ 'background-image': 'linear-gradient(270deg, rgba(46, 34, 105, 0.5) 0%, rgb(19, 14, 57) 100%), url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + mostGoldPlayer.champion + '_0.jpg)' }">
      <p class="stat-label">Highest Gold</p>
      <p class="stat">{{ mostGoldPlayer.gold }}</p>
      <div class="most-stat-profile">
        <img class="champ-img" src='https://ddragon.leagueoflegends.com/cdn/14.24.1/img/champion/{{mostGoldPlayer.champion}}.png'>
        <p>{{ mostGoldPlayer.gameName }}</p>
      </div>
    </div>
    <div class="most-kda" [ngStyle]="{ 'background-image': 'linear-gradient(270deg, rgba(46, 34, 105, 0.5) 0%, rgb(19, 14, 57) 100%), url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + mostKdaPlayer.champion + '_0.jpg)' }">
      <p class="stat-label">Highest KDA</p>
      <p class="stat">{{ mostKdaPlayer.kda }}</p>
      <div class="most-stat-profile">
        <img class="champ-img" src='https://ddragon.leagueoflegends.com/cdn/14.24.1/img/champion/{{mostKdaPlayer.champion}}.png'>
        <p>{{ mostKdaPlayer.gameName }}</p>
      </div>
    </div>
  </div>
  <div class="match-info">
    
  </div>
</div>