.won {
    background: linear-gradient(to right, rgb(37, 156, 91), #36393e);
    color: white;
  }
  
.lost {
    background: linear-gradient(to right, rgb(223, 72, 72), #36393e);
    color: white;
}

.match-module {
    border: 5px solid black;
    height: fit-content;
    padding: 10px;
}

.header {
    margin-top: 10px;
}

.summoner {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    p {
        font-size: large;
        color: white;
    }
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .left {
        width: 35%;
    }
    
    .right {
        width: 60%;
    }
}

