<app-header></app-header>

<div class="container">
  <div class="left" *ngIf="accountLoaded">
    <div class="profile-info">
      <div class="profile-img">
        <img
          src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/profileicon/{{
            profileIcon
          }}.png"
          alt="Profile Icon"
        />
        <p>{{ profileLevel }}</p>
      </div>
      <div class="summoner">
        <p>{{ summoner }}</p>
        <p>&nbsp;#{{ tagLine }}</p>
      </div>
      <div class="rank">
        <div class="tierImg">
          <img
            src="/assets/rank/{{ soloTier.toLowerCase() }}.png"
            alt="Tier image"
          />
        </div>
        <div class="rank-info">
          <h3>Ranked Solo/Duo</h3>
          <ng-container *ngIf="hasSolo">
            <p>{{ soloRank }} • {{ soloLP }}LP</p>
            <div class="win-loss">
              <p>{{ soloWins }}W {{ soloLosses }}L</p>
              <p
                [ngStyle]="{
                  color: soloWinPercent >= 50 ? 'green' : 'red'
                }"
              >
                {{ soloWinPercent }}%
              </p>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="rank last-rank-box">
        <div class="tierImg">
          <img
            src="/assets/rank/{{ flexTier.toLowerCase() }}.png"
            alt="Tier image"
          />
        </div>
        <div class="rank-info">
          <h3>Ranked Flex</h3>
          <ng-container *ngIf="hasFlex">
            <p>{{ flexRank }} • {{ flexLP }}LP</p>
            <div class="win-loss">
              <p>{{ flexWins }}W {{ flexLosses }}L</p>
              <p
                [ngStyle]="{
                  color: flexWinPercent >= 50 ? 'green' : 'red'
                }"
              >
                {{ flexWinPercent }}%
              </p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div *ngIf="allDataLoaded()">
      <div *ngFor="let match of objectEntries(matchData)">
        <div
          [ngClass]="{
            won: match[1].profile.win,
            lost: !match[1].profile.win,
            'match-module': true
          }"
          [ngStyle]="{ marginBottom: match[1].expanded ? '0' : '10px' }"
          (click)="toggleExpand(match[0])"
        >
          <div class="match-header">
            <div class="header-details">
              <p class="game-mode">
                {{ match[1].gameMode ? match[1].gameMode : "TRAINING" }}
              </p>
              <p class="match-time">{{ match[1].timeAgo }}</p>
              <p style="color: rgb(173, 173, 173)">•</p>
              <p class="match-length">{{ match[1].gameLength }} minutes</p>
            </div>
            <p class="match-details-btn" (click)="matchDetails(match[0])">
              Match Details
            </p>
          </div>
          <div class="match-info">
            <app-champ-info
              class="champ-info-component"
              [profile]="match[1].profile"
            ></app-champ-info>
            <app-sum-spells
              [sumSpell1]="match[1].profile.sumSpell1"
              [sumSpell2]="match[1].profile.sumSpell2"
            ></app-sum-spells>
            <app-runes
              [rune1]="match[1].profile.rune1"
              [rune2]="match[1].profile.rune2"
            ></app-runes>
            <app-items [items]="match[1].profile.items"></app-items>
            <div class="player-info">
              <p class="player-kills">
                {{ match[1].profile.kills }} / {{ match[1].profile.deaths }} /
                {{ match[1].profile.assists }}
              </p>
              <p
                [ngClass]="{
                  good: match[1].profile.kda > 3.5,
                  bad: match[1].profile.kda <= 2,
                  amazing: match[1].profile.kda > 5,
                  'player-kda': true
                }"
              >
                {{ match[1].profile.kda }} KDA
              </p>
            </div>
            <div class="CS">
              <p class="cs-score">{{ match[1].profile.CSscore }}&nbsp;</p>
              <p
                [ngClass]="{
                  good:
                    match[1].profile.csPerMin >= 7 &&
                    match[1].profile.lane != 'SUPPORT',
                  bad:
                    match[1].profile.csPerMin < 5 &&
                    match[1].profile.lane != 'SUPPORT'
                }"
              >
                ({{ match[1].profile.csPerMin }})
              </p>
              <p>&nbsp;CS</p>
            </div>
            <div class="KP-Vison">
              <div class="KP">
                <p
                  [ngClass]="{
                    good: match[1].profile.Kp > 60,
                    bad: match[1].profile.Kp < 40,
                    amazing: match[1].profile.Kp > 80
                  }"
                >
                  {{ match[1].profile.Kp }}%
                </p>
                <p>&nbsp;KP</p>
              </div>
              <div *ngIf="match[1].gameMode != 'ARAM'" class="vision">
                <p>
                  {{ match[1].profile.wardsPlaced }} ({{
                    match[1].profile.RedWardsPlace
                  }}) / {{ match[1].profile.wardsCleared }}
                </p>
              </div>
            </div>
            <div class="teammates">
              <ng-container *ngFor="let team of match[1].teams; let i = index">
                <div *ngIf="i === 0" class="team1">
                  <div
                    class="teammate"
                    *ngFor="let player of team.members"
                    (click)="newNavigate(player.gameName, player.tagLine)"
                  >
                    <p class="name">{{ player.gameName }}</p>
                    <img
                      src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/champion/{{
                        player.champion
                      }}.png"
                      class="champ-img"
                    />
                  </div>
                </div>
              </ng-container>

              <div *ngIf="match[1].gameMode != 'ARAM'" class="teammate-lanes">
                <img
                  *ngFor="let image of laneImages"
                  src="./assets/role/{{ image }}.png"
                />
              </div>
              <div *ngIf="match[1].gameMode == 'ARAM'" class="aram-lanes">
                <p>VS</p>
              </div>

              <ng-container *ngFor="let team of match[1].teams; let i = index">
                <div *ngIf="i === 1" class="team2">
                  <div
                    class="teammate"
                    *ngFor="let player of team.members"
                    (click)="newNavigate(player.gameName, player.tagLine)"
                  >
                    <img
                      src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/champion/{{
                        player.champion
                      }}.png"
                      class="champ-img"
                    />
                    <p class="name">{{ player.gameName }}</p>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="more-info" *ngIf="match[1].expanded">
          <app-participant-card
            [getPuuid]="newNavigate.bind(this)"
            class="participant-card"
            matchId="{{ match[0] }}"
          ></app-participant-card>
        </div>
      </div>
    </div>
    <div class="show-more">
      <p>Show More</p>
    </div>
  </div>
</div>
