.container {
    display: flex;
    width: 100%;
    justify-content: center;
    .left {
        width: 25%;
        border-radius: 10px;
        border: 2px solid black;
        height: fit-content;
        padding: 5px;
        margin-right: 20px;
    }
    
    .right {
        width: 70%;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7289da;
    padding: 0px 25px;
    margin-bottom: 20px;
    .homeBtn {
        cursor: pointer;
        color: white;
    }
}

.won {
    background: linear-gradient(to right, rgba(62, 221, 165, 0.531), #3e886447);
    color: white;
  }
  
.lost {
    background: linear-gradient(to right, rgba(203, 69, 69, 0.593), #8a404046);
    color: white;
}

.match-module {
    height: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .gameMode {
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.568);
    }
    .champion {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10%;
        margin-top: 10px;
        .champ-img {
            margin-top: 10px;
            border-radius: 50%;
            width: 80%;
        }
        p {
            margin: 10px 0px 0px;
            font-weight: bolder;
        }
    }
    .match-info {
        display: flex;
        flex-direction: row;
        .player-info {
            margin-left: 20px;
        }
    }
}

.summoner {
    padding: 0;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    p {
        font-size: large;
        color: white;
    }
}

.rank {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    p {
        margin: 8px;
    }
    h3 {
        margin: 8px;
    }
    .tierImg {
        width: 30%;
        img {
            width: 100%;
            height: 100%; 
            padding-bottom: 20px;
        }
    }
    .rank-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .win-loss {
        display: flex;
        flex-direction: row;
        p {
            margin: 8px 4px;
            color: rgb(173, 189, 204);
        }
    }
}

.last-rank-box {
    border: none;
}