$primary: #7289da;
$bgColor: #252046;
$bgColor2: #3b2d6a;
$goodColor: #35db7a;
$badColor: #f55050;
$amazingColor: #85d0ff;
$profileBorders: #f2bf43;
$blackBorders: #2d1f34;
$borderColor: #382f66;
$blackBackground: #19133d;
$userChampBorder: #3cbdc2;
$white: #ffffff;
$gray: #9b9b9b;
