/* You can add global styles to this file, and also import other style files */
@use "./variables" as vars;

body {
  background-color: vars.$bgColor;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.search-div {
  display: flex;
  justify-content: center;
}

.searches {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.361);
}

.tag_search {
  width: 20%;
}

.sum_search {
  width: 80%;
}

.search {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  margin: 10px;
  background: transparent;
  transition: border-color 0.2s;

  &:placeholder-shown {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.search::placeholder {
  color: black;
}

.search:focus {
  padding-bottom: 6px;
  border-width: 3px;
}

.search {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
