.home {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    .title {
        font-size: 80px;
    }
    p {
        font-size: 40px;
    }
}
