<div class="sum-spells">
  <img
    class="sum-spell1"
    src="https://ddragon.leagueoflegends.com/cdn/15.1.1/img/spell/{{
      sumSpell1Path
    }}"
    alt="Summoner spell 1"
  />
  <app-hover-tooltip
    class="tooltip1"
    type="spell"
    [info]="sumSpell1"
  ></app-hover-tooltip>
  <img
    class="sum-spell2"
    src="https://ddragon.leagueoflegends.com/cdn/15.1.1/img/spell/{{
      sumSpell2Path
    }}"
    alt="Summoner spell 2"
  />
  <app-hover-tooltip
    class="tooltip2"
    type="spell"
    [info]="sumSpell2"
  ></app-hover-tooltip>
</div>
